# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\stock\Documents\Technische_Hochschule_Brandenburg\THB_5.Semester\Entw_Anw_Arch\node_backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
